# Configuration de l'API
PROJECT_NAME=Sini
DEBUG=False

# OpenWeatherMap
OPENWEATHER_API_KEY=

# Africa's Talking
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=

# PostgreSQL
DATABASE_URL=postgresql+psycopg://user:password@host:5432/database

# JWT
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7