# Configuration de l'API FastAPI
PROJECT_NAME="Sini"
DEBUG=True

# OpenWeatherMap API
OPENWEATHER_API_KEY="votre_cle_api"

# Africa's Talking (SMS API - Sandbox par défaut)
AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY="votre_cle_api_"