# Variables d'environnement
.env

# Environnements virtuels
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Tests et couverture
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/

# Système
.DS_Store
